@font-face {
    src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    src: url('../fonts/Poppins-Medium.ttf');
}

.information-bar {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.category {
    -fx-font-size: 24;
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-font-family: "Poppins Bold";
    -fx-text-alignment: center;
}

.clue {
    -fx-cursor: hand;
    -fx-font-size: 28;
    -fx-max-height: 97px;
    -fx-max-width: 160px;
    -fx-text-fill: #291D00;
    -fx-background-color: #FFBF1F;
    -fx-font-family: "Poppins Medium";
}

.clue:hover {
    -fx-background-color: #F5AF00;
}

.toggle-button {
    -fx-cursor: hand;
    -fx-text-fill: #6E6D7A;
    -fx-background-color: #E0DEE1;
}

.toggle-button:selected {
    -fx-text-fill: white;
    -fx-background-color: #197DB3;
}

.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area {
    visibility: hidden;
}