.large-font {
    -fx-font-size: 28px;
}

.medium-font {
    -fx-font-size: 20px;
}

.small-font {
    -fx-font-size: 18px;
}

.primary {
    -fx-text-fill: white;
    -fx-background-color: #197DB3;
}

.primary:hover {
    -fx-background-color: #1770A1;
}

.secondary {
    -fx-text-fill: #333333;
    -fx-background-color: #EBEBEB;
}

.secondary:hover {
    -fx-background-color: #D6D6D6;
}

.red {
    -fx-text-fill: white;
    -fx-background-color: #A02C2C;
}

.red:hover {
    -fx-background-color: #902727;
}

.green {
    -fx-text-fill: white;
    -fx-background-color: #51824A;
}

.green:hover {
    -fx-background-color: #497543;
}