@font-face {
    src: url('fonts/Poppins-Bold.ttf');
}

@font-face {
    src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    src: url('fonts/Pacifico-Regular.ttf');
}

.bold {
    -fx-font-family: "Poppins Bold";
}

.medium {
    -fx-font-family: "Poppins Medium";
}

.regular {
    -fx-font-family: "Poppins Regular";
}

.pacifico {
    -fx-font-family: "Pacifico Regular";
}