@font-face {
    src: url('./../resources/fonts/Poppins-Medium.ttf');
}

.category {
    -fx-font-size: 25;
    -fx-wrap-text: true;
    -fx-text-fill: black;
    -fx-font-family: "Poppins Medium";
    -fx-text-alignment: center;
}

.clue {
    -fx-font-size: 28;
    -fx-max-width: 180px;
    -fx-text-fill: white;
    -fx-max-height: 110px;
    -fx-background-color: #ffb627;
    -fx-font-family: "Poppins Medium";
}

.clue:hover {
    -fx-background-color: #FFAD0A;
}