/*
Importing the fonts which are required for the buttons.
 */
@font-face {
    font-family: "Poppins";
    src: url("./../resources/fonts/Poppins-Bold.ttf");
}


/*
This is the styling for the overall background of the Main Menu.
 */
.borderPane {
    -fx-background-color: white;
}


/*
This is the common settings for all the buttons.
 */
.button {
    -fx-font-size: 28;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
    -fx-font-family: Poppins;
    -fx-background-radius: 10;
}


/*
This is the styling for the top buttons which are "Game" and "Practice" modules.
 */
.topButton {
    -fx-text-fill: white;
    -fx-background-color: #429CCD;
}

.topButton:hover {
    -fx-background-color: #3390C1;
}


/*
This is the styling for the bottom buttons which are "Exit" and "Settings".
 */
.bottomButton {
    -fx-text-fill: #585858;
    -fx-background-color: #E5E5E5;
}

.bottomButton:hover {
    -fx-background-color: #D6D6D6;
}