/*
Importing the fonts which are required for the buttons.
 */
@font-face {
    font-family: "Poppins-Bold";
    src: url("./../resources/fonts/Poppins-Bold.ttf");
}


/*
This is the styling for the overall background of the Main Menu.
 */
.borderPane {
    -fx-background-color: white;

}


/*
This is the common settings for all the buttons.
 */
.button {
    -fx-font-size: 28;
    -fx-border-radius: 10;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-font-family: Poppins-Bold;
}


/*
This is the styling for the top buttons which are "Game" and "Practice" modules.
 */
.topButton {
    -fx-text-fill: white;
    -fx-background-color: #68BBE9;
}

.topButton:hover {
    -fx-background-color: #4CB0E6;
}


/*
This is the styling for the bottom buttons which are "Exit" and "Settings".
 */
.bottomButton {
    -fx-text-fill: #585858;
    -fx-background-color: #DADADA;
}

.bottomButton:hover {
    -fx-background-color: #CCCCCC;
}