@font-face {
    src: url('./../resources/fonts/Poppins-Medium.ttf');
}

.categoryButton {
    -fx-font-size: 20;
    -fx-pref-width: 220;
    -fx-pref-height: 95;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-background-color: #93CA53;
    -fx-font-family: "Poppins Medium";
}

.categoryButton:hover {
    -fx-background-color: #7FBB3A;
}