@font-face {
    src: url('fonts/Poppins-Medium.ttf');
}

.categoryButton {
    -fx-font-size: 22;
    -fx-pref-width: 220;
    -fx-pref-height: 95;
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-text-alignment: center;
    -fx-background-color: #288F5A;
    -fx-font-family: "Poppins Medium";
}

.categoryButton:hover {
    -fx-background-color: #247F50;
}