.slider {
    /* default track color: */
    -slider-filled-track-color: #157145;
    -slider-track-color: #00C55E;
}

.slider .thumb {
    -fx-background-color: -slider-filled-track-color ;
}

.slider .track {
    -fx-background-color: -slider-track-color ;
}